# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
tensorflow
pandas
split_folders
tfds-nightly
ipython
Pillow
imgaug
numpy
python-dotenv>=0.5.1
keras
opencv-python
opencv-contrib-python
h5py